{% extends "base.html" %}
{% block content %}
    <h1>Add New Item</h1>
    <form method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required min="0">
        </div>
        <div>
            <label for="green_number">Green Number:</label>
             <input type="number" id="green_number" name="green_number" required min="0">
        </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>
        </div>
        <div>
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-buttons">
            <button type="submit" class="button">Add Item</button>
            <a href="{{ url_for('index') }}" class="button cancel">Cancel</a>
        </div>
    </form>
{% endblock %}