{% extends "base.html" %}
{% block content %}
    <h1>Inventory Items</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>${{ "%.2f"|format(item['price']) }}</td>
                    <td>{{ item['category'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}